body {
    font-family: "Inter", sans-serif;
}
/* header */
.header {
    height: 100vh;
    background-color: #121212;
}
.header-content {
    width: 1150px;
    margin: auto;
    padding-top: 27px;
}
.blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: #FFD700;
}
.blog-header_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.blog-title {
    font-weight: 600;
    font-size: 32px;
    color: #FFD700;
}
.header-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.blog-filters {
    display: flex;
    gap: 20px;
}
.filter-btn {
    font-size: 20px;
    color: #29D8DB;
    transition: color 0.3s ease-in-out;
}
.filter-btn:hover {
    color: #0d8c98;
    border-bottom: solid  1px #0FA3B1;
}
.blog-list {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}
.blog-card {
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    background-color: #1F1F1F;
}
.blog-card_title {
    font-size: 18px;
    color: #FFD700;
}
.blog-card_excerpt {
    margin-top: 15px;
    color: #fff;
}
.back-btn {
    display: block;
    margin-top: 50px;
    text-decoration: none;
    font-size: 22px;
    color: #FFD700;
    transition: color 0.3s ease-in-out;
}
.back-btn:hover {
    color: #cdaf06;
}
/* тема для сайта */
body.theme-light_blog .header {
    background-color: #fff;
}
body.theme-light_blog .blog-card {
    background-color: #E0E0E0;
}
body.theme-light_blog .logo,
body.theme-light_blog .blog-title,
body.theme-light_blog .blog-card_title,
body.theme-light_blog .back-btn {
    color: #D4A200;
}
body.theme-light_blog .blog-card_meta,
body.theme-light_blog .filter-btn {
    color: #0FA3B1;
}
body.theme-light_blog .blog-card_excerpt {
    color: #121212;
}
.blog-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.modal-btn {
    color: #FFD700;
}
.blog-card_meta {
    color: #29D8DB;
}
/*высплывающие окно*/
.modal {
    margin-top: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px 15px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-activ {
    display: block;
}
.modal-content {
    width: 1150px;
    margin: auto;
}
.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-title {
    font-size: 26px;
    color: #FFD700;
}
.modal-close {
  background: none;
  border: 1px solid #29D8DB;
  color: #29D8DB;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.modal-close:hover {
  background: rgba(41,216,219,0.1);
}
.modal-body {
    margin-top: 50px;
}
.modal-subtitle {
    font-size: 20px;
    color: #29D8DB;
}
.modal-text {
    margin-top: 20px;
    color: #E0E0E0;
}
.modal-date {
    margin-top: 20px;
    color: #29D8DB;
}
/* адаптив */
@media (max-width: 1199px) {
    .header-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 767px) {
    .logo {
        font-size: 28px;
    }
    .blog-title {
        font-size: 28px;
    }
    .header-wrapper {
        margin-top: 80px;
    }
    .blog-list {
        margin-top: 55px;
    }
    .filter-btn {
        font-size: 18px;
    }
    .back-btn {
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    .logo {
        font-size: 26px;
    }
    .blog-header_top {
        gap: 15px;
    }
    .blog-title {
        font-size: 26px;
    }
    .header-wrapper {
        margin-top: 75px;
    }
    .blog-filters {
        gap: 15px;
        flex-wrap: wrap;
    }
}