body {
    font-family: "Inter", sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    color: #E0E0E0;
}
.header-content {
    width: 1150px;
    margin: auto;
    padding: 20px;
}
.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -1px;
    text-decoration: none;
    color: #FFD700;
}
                                     /*main*/
.post-container {
    width: 1150px;
    margin: auto;
    padding: 20px;
}
.full-post {
    background-color: #1F1F1F;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #2A2A2A;
}
.full-post-title {
    color: #FFD700;
    font-size: 30px;
    margin-bottom: 20px;
}
.full-post-content {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.full-post-text {
    font-size: 18px;
    line-height: 22px;
}
.full-post-subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 26px;
}
.full-post-code_title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.full-post-code_block {
    background-color: #121212;
    padding: 10px 15px 10px 20px;
}
.full-post-code_block li {
    line-height: 26px;
}
.full-post-meta {
    display: flex;
    justify-content: space-between;
    color: #29D8DB;
    font-size: 16px;
    margin-top: 30px;
}
.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #29D8DB;
    text-decoration: none;
    transition: color 0.3s ease;
}
.back-link:hover {
    color: #E0E0E0;
}
.error {
    color: #E0E0E0;
    text-align: center;
    font-size: 20px;
}
@media (max-width: 1199px) {
    .header-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .post-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .full-post-title {
        font-size: 26px;
        line-height: 40px;
    }
}
@media (max-width: 767px) {
    .logo {
        font-size: 28px;
    }
    .full-post-title {
        font-size: 26px;
        line-height: 28px;
    }
    .full-post-subtitle {
        font-size: 24px;
    }
}
@media (max-width: 475px) {
    .full-post-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .full-post-content {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .full-post-text {
        font-size: 16px;
    }
    .full-post-subtitle {
        font-size: 20px;
    }
    .full-post-code_title {
        font-size: 18px;
    }
}