.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
header {
    width: 100%;
    height: 100vh;
    background-color: #121212;
}
.header-content {
    width: 1150px;
    margin: auto;
    padding-top: 27px;
}
.logo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -1px;
    text-decoration: none;
    color: #FFD700;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 1000;
}
.header-navbar_menu {
    display: flex;
    gap: 15px;
    list-style: none;
}
.header-menu_item {
    display: inline;
}
.header-menu_item a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #29D8DB;
    transition: color 0.3s ease-in-out; /* Плавный переход */
}
.header-menu_item a:hover {
    color: #E0E0E0;
}
.typing-container {
    padding-top: 300px;
    font-family: "Inter", sans-serif;
    font-size: 35px;
    line-height: 46px;
    font-weight: 700;
    color: #E0E0E0;
    text-align: center;
}
/* Курсор (моргает) */
.typing-text::after {
    content: "|";
    display: inline-block;
    animation: blink 0.8s infinite;
}
/* Анимация моргания */
@keyframes blink {
    50% { opacity: 0; }
}
/* Когда текст полностью напечатан, курсор исчезает */
.typing-text.finished::after {
    content: "";
    animation: none;
}
.burger-icon {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #E0E0E0;
  }
  .burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: none; /* Скрыто по умолчанию */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .burger-menu.active {
    display: flex;
  }
  
  .burger-menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .burger-navbar_menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .burger-menu_item a {
    font-size: 24px;
    color: #29D8DB;
    text-decoration: none;
  }
  
  .burger-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
@media (max-width: 1199px) {
    .header-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 767px) {
    .logo {
        font-size: 28px;
    }
    .header-navbar {
        display: none;
    }
    .typing-container {
        font-size: 30px;
    }
    .burger-icon {
        display: flex;
      }
    
      .header-navbar {
        display: none;
      }
}
@media (max-width: 475px) {
    .logo {
        font-size: 28px;
    }
    .typing-text {
        font-size: 28px;
        line-height: 38px;
    }
}